body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/*SUPERINFO*/

.superinfo-bg {
  background: rgb(165, 15, 15);
  color: white;
}

.superinfo {
  max-width: 1560px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo p,
.superinfo a {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: white;
}

/* MENU */

.menu-bg {
  background: #000;
}

.menu {
  max-width: 1560px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: white;
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
  color: white;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 150px;
}

.menu-nav a {
  font-size: 1.25em;
  display: block;
  padding: 30px;
}

.menu-nav a:hover {
  color: rgb(165, 15, 15);
}

.menu-form {
  flex: 3 1 200px;
  margin: 0 50px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.menu-form input {
  flex: 3 1 200px;
  font-size: 1em;
  color: white;
  font-style: italic;
  border: 4px solid rgb(165, 15, 15);
  background: transparent;
  padding: 5px;
  margin: 0px;
  border-radius: 0px;
}

.menu-form button {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background-color: black;
  color: white;
  border: 4px solid rgb(165, 15, 15);
  padding: 5px 10px;
  margin: 0;
}

.menu img {
  max-width: 1560px;
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
}

/* BANNER */

.banner {
  max-width: 1560px;
  margin: 0 auto;
  flex-wrap: wrap;
  display: block;
}

/* PRODUTOS */

.preco {
  max-width: 1560px;
  min-height: 260px;
  margin: 60px auto;
}

.preco h1 {
  color: rgb(165, 15, 15);
  align-items: center;
  font-size: 2.5em;
  margin: 0 10px 60px 10px;
  border-top: 4px solid grey;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.produtos-item {
  flex: 1 1 200px;
  margin: 10px;
  min-width: 260px;
}

.produtos-item h2 {
  font-size: 2em;
  color: white;
  font-family: fantasy;
  background: rgb(165, 15, 15);
  padding: 60px 20px;
}

.casual {
  border-top: 8px solid white;
}

.acessorios {
  border-top: 8px solid white;
}

.uniformes {
  border-top: 8px solid white;
}

/* PREÇO DOS PRODUTOS */

.produtos-item span {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 1.75em;
  padding: 10px 0 5px 0;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.produtos-item sup {
  font-size: 1em;
}

.produtos-item a {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 4px solid;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.75em;
  padding: 15px 0;
  text-align: center;
}

.produtos-item a:hover {
  color: rgb(165, 15, 15);
}

@media (max-width: 800px) {
  .preco {
    padding-left: 10px;
    padding-right: 10px;
  }
  .preco .produtos-item:nth-child(3) {
    order: -2;
  }
  .preco .produtos-item:nth-child(2) {
    order: -1;
  }
}

/* NOVIDADES */

.novidades {
  background: black;
  padding: 60px calc((100% - 1560px) / 2);
  display: flex;
  flex-wrap: wrap;
  border-top: 4px solid;
  color: grey;
}

.novidades-info {
  flex: 1 1 260px;
  margin: 0 10px;
}

.novidades-info h1 {
  font-size: 2.5em;
  color: rgb(165, 15, 15);
}

.novidades-info p {
  font-size: 1.5em;
  font-style: italic;
  max-width: 230px;
  margin-bottom: 10px;
}

.novidades-form {
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
  flex-wrap: wrap;
}

.novidades-form input {
  flex: 3 1 200px;
  font-size: 1.1em;
  color: white;
  font-style: italic;
  border: 4px solid rgb(165, 15, 15);
  background: transparent;
  padding: 5px;
  margin: 0px;
  border-radius: 0px;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translate(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translate(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translate(-10px);
    transform: translateY(-10px);
  }
}

.novidades-form button {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background-color: black;
  color: white;
  border: 4px solid rgb(165, 15, 15);
  padding: 5px 10px;
  margin: 0;
}

.novidades-form button:hover {
  animation: bounce 1s;
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
}

.social img {
  max-width: 1560px;
  height: 45px;
  background: rgb(165, 15, 15);
  margin: 10px;
  border: 4px solid;
  color: rgb(165, 15, 15);
}

/* FOOTER */

.footer {
  display: flex;
  background: rgb(165, 15, 15);
  height: 100px;
  align-items: center;
}

.footer p {
  flex: 1;
  text-align: center;
  font-size: 2em;
  color: black;
}
